@{
    ViewBag.Title = "Alta/Edición Empleado";
    var areasTrabajo = (List<MinaTolEntidades.DtoCatalogos.DtoAreaTrabajo>)ViewBag.AreasDeTrabajo;
    var turnos = new List<string> { "Mañana", "Tarde", "Noche" }; // Ejemplo de turnos
    var estatus = new List<string> { "Activo", "Inactivo" }; // Ejemplo de estatus
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Trabajador/AltaEdicion.js"></script>
@*<form enctype="multipart/form-data" id="frmPaymentRequest" method="post" name="frmPaymentRequest">*@
<form enctype="multipart/form-data" id="frmTrabajador" method="post" name="frmTrabajador">
    <div class="content">
        <br>
        <center><h1>Empleados</h1></center>
        <div class="tabla-consultas-empleados">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID del Trabajador:</label>
                        <input type="text" id="txtTrabajadorId" name="txtTrabajadorId" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Email:</label>
                        <input type="text" id="txtEmail" name="txtEmail" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Teléfono:</label>
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Fecha Contratación:</label>
                        <input type="date" id="dtpFechaContratacion" name="dtpFechaContratacion" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>NSS:</label>
                        <input type="text" id="txtSeguro" name="txtSeguro" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Turno:</label>
                        <select id="ddlTurno" name="ddlTurno" class="form-control">
                            @foreach (var turno in turnos)
                            {
                                <option value="@turno">@turno</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Estatus:</label>
                        <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Área de Trabajo:</label>
                        <select id="ddlAreaTrabajo" name="ddlAreaTrabajo" class="form-control">
                            @foreach (var area in areasTrabajo)
                            {
                                <option value="@area.Id">@area.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Salario Actual</label>
                        <input type="text" name="txtSalario" id="txtSalario" value="" style="display:none;" />
                        <input type="text" name="txtSalarioTexto" id="txtSalarioTexto" value="" class="form-control" disabled />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <img src="~/Assets/img/MaterialDesign/cash-multiple.png" style="width:50px; cursor:pointer;" name="imgAddSalario" id="imgAddSalario" />
                    </div>
                    <!-- Campos ocultos para los datos automáticos -->
                    <input type="hidden" id="txtCreatedBy" value="@User.Identity.Name" />
                    <input type="hidden" id="txtCreatedDt" value="@DateTime.Now" />
                    <input type="hidden" id="txtUpdatedBy" value="@User.Identity.Name" />
                    <input type="hidden" id="txtUpdatedDt" value="@DateTime.Now" />
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="button" onclick="SaveOrupdateTrabajador()" value="Guadar" class="btn btn-success" />
                    </div>
                </div>
            </div>

            <br>

            @*<div class="busqueda">
                    <form method="get">
                        <input type="text" id="search" name="search" placeholder="Buscar por nombre o área" />
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i> Buscar
                        </button>
                    </form>
                </div>*@

            <!-- Menú desplegable para seleccionar la cantidad de filas a mostrar -->
            @*<select id="rowsToShow">
                    <option value="all">Todos</option>
                    <option value="100">100</option>
                    <option value="50">50</option>
                    <option value="25">25</option>
                    <option value="10">10</option>
                </select>*@
            <table id="tblEmpleados" class="table" style="width:100%;">
            </table>

            @*<table id="employeeTable">
                    <thead>
                        <tr>
                            <th><i class="fa fa-user" aria-hidden="true"></i> Nombre</th>
                            <th><i class="fa fa-industry" aria-hidden="true"></i> Área de Trabajo</th>
                            <th><i class="fa fa-dollar-sign" aria-hidden="true"></i> Salario MXN</th>
                            <th><i class="fa fa-clock" aria-hidden="true"></i> Horario</th>
                            <th><i class="fa fa-shield" aria-hidden="true"></i> Seguro</th>
                            <th><i class="fa fa-hourglass-start" aria-hidden="true"></i> Retardos</th>
                            <th><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Faltas</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 16px;"></tbody>
                </table>*@
            <br>
            <!-- Contenedor para la paginación -->
            @*<div id="pagination"></div>*@
        </div>
    </div>
</form>
    <script>
        $(document).ready(function () {
            function actualizarTabla(filtro) {
                $.ajax({
                    url: "actualizar_tabla.php",
                    type: "POST",
                    data: { filtro: filtro },
                    success: function (response) {
                        $("#employeeTable tbody").html(response);
                    },
                    error: function (xhr, status, error) {
                        console.error("Error al actualizar la tabla: " + error);
                    }
                });
            }

            // Eventos de clic para diferentes filtros
            $("#empleadosConSeguroButton, #empleadosConFaltasButton, #empleadosConRetardosButton").click(function () {
                const filtro = $(this).data("filtro");
                actualizarTabla(filtro);
            });

            // Evento para mostrar todas las filas al recargar la página
            $("#totaldeempleados").click(function () {
                location.reload();
            });

            // Evento para mostrar las filas según la selección
            $('#rowsToShow').change(function () {
                const table = $('#employeeTable tbody');
                const rows = table.find('tr');
                const show = $(this).val();
                const displayCount = show === 'all' ? rows.length : parseInt(show, 10);

                let totalPages = Math.ceil(rows.length / displayCount);
                createPagination(totalPages, displayCount);

                function createPagination(totalPages, displayCount) {
                    const paginationContainer = $('#pagination').empty();

                    for (let i = 1; i <= totalPages; i++) {
                        $('<button/>', {
                            text: i,
                            click: function () {
                                rows.hide().slice((i - 1) * displayCount, i * displayCount).show();
                            }
                        }).appendTo(paginationContainer);
                    }

                    if (totalPages > 0) paginationContainer.children().first().click();
                }
            }).trigger('change');
        });
    </script>
