@{
    ViewBag.Title = "Alta/Edición Empleado";
    var areasTrabajo = (List<MinaTolEntidades.DtoCatalogos.DtoAreaTrabajo>)ViewBag.AreasDeTrabajo;
    var roles = (List<MinaTolEntidades.DtoCatalogos.DtoRoll>)ViewBag.Roles;
    //var turnos = new List<string> { "Mañana", "Tarde", "Noche" }; // Ejemplo de turnos
    var estatus = new List<string> { "Activo", "Inactivo" }; // Ejemplo de estatus
    var trabajador = (MinaTolEntidades.DtoSucursales.DtoTrabajador)Model;
}

<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-cancel {
        background-color: #FF5733; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-delete {
        background-color: #C70039; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-delete:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-clean {
        background-color: dodgerblue; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<script src="@(Url.StaticFile("Scripts/Trabajador/AltaEdicion.js"))"></script>
@*<form enctype="multipart/form-data" id="frmPaymentRequest" method="post" name="frmPaymentRequest">*@
<form enctype="multipart/form-data" id="frmTrabajador" method="post" name="frmTrabajador">
    <div class="content">
        <!-- Campos ocultos para los datos automáticos -->
        <input type="hidden" id="txtCreatedBy" value="@User.Identity.Name" />
        <input type="hidden" id="txtCreatedDt" value="@DateTime.Now" />
        <input type="hidden" id="txtUpdatedBy" value="@User.Identity.Name" />
        <input type="hidden" id="txtUpdatedDt" value="@DateTime.Now" />
        <br>
        <center><h1>Empleados</h1></center>
        <div class="tabla-consultas-empleados">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID del Trabajador:</label>
                        <input type="text" id="txtTrabajadorId" name="txtTrabajadorId" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Email:</label>
                        <input type="text" id="txtEmail" name="txtEmail" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Teléfono:</label>
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Fecha Contratación:</label>
                        <input type="date" id="dtpFechaContratacion" name="dtpFechaContratacion" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>NSS:</label>
                        <input type="text" id="txtSeguro" name="txtSeguro" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Turno:</label>
                        <select id="ddlTurno" name="ddlTurno" class="form-control">
                            <option value="M">Matutino</option>
                            <option value="V">Vespertino</option>
                            <option value="N">Nocturno</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Estatus:</label>
                        <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Área de Trabajo:</label>
                        <select id="ddlAreaTrabajo" name="ddlAreaTrabajo" class="form-control">
                            @foreach (var area in areasTrabajo)
                            {
                                <option value="@area.Id">@area.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Rol:</label>
                        <select id="ddlRoll" name="ddlRoll" class="form-control">
                            @foreach (var Roll in roles)
                            {
                                <option value="@Roll.Id">@Roll.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Salario Actual</label>
                        <input type="text" name="txtSalario" id="txtSalario" value="" style="display:none;" />
                        <input type="text" name="txtSalarioTexto" id="txtSalarioTexto" value="" class="form-control" disabled />
                    </div>
                    <div class="col-lg-2">
                        <br />
                        <img src="~/Assets/img/MaterialDesign/cash-multiple.png" style="width:50px; cursor:pointer;" name="imgAddSalario" id="imgAddSalario" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-between">
                        <div>
                            <input id="btnGuardar" type="button" onclick="SaveOrupdateTrabajador()" value="Guadar" class="btn btn-success" />
                            <input type="button" name="btnEliminar" id="btnEliminar" value="Eliminar" class="btn btn-custom-delete"/>
                        </div>
                        <a class="btn btn-custom-cancel" href="/Empleado/AltaEdicion">Cancelar</a>
                    </div>
                </div>
            </div>
            <table id="tblEmpleados" class="table" style="width:100%;">
            </table>
            <br>
        </div>
    </div>
</form>
<script>
        var trabajadorJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(trabajador))');
</script>
