@model MinaTolEntidades.DtoEmpleados.ConceptosEmpleado
@{
    ViewBag.Title = "ConceptosRH";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarioToken = (MinaTolEntidades.Security.TokenCookie)ViewBag.UserToken;
    var fechaActual = DateTime.Now.ToString("yyyy-MM-dd");
}
<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<div class="content">
    @using (Html.BeginForm("SaveOrUpdateConceptosEmpleados", "RH", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmConceptosEmpleado", @id = "frmConceptosEmpleado" }))
    {
        @Html.HiddenFor(x => x.Id, new { id = "id" })
        @Html.HiddenFor(x => x.Estatus, new { id = "estatus" })
        @Html.HiddenFor(x => x.CreatedDt, new { id = "createdDt", @Value = fechaActual })
        @Html.HiddenFor(x => x.CreatedBy, new { id = "createdBy", @Value = usuarioToken.UserName })
        @Html.HiddenFor(x => x.UpdatedBy, new { id = "updatedBy", @Value = usuarioToken.UserName })
        @Html.HiddenFor(x => x.UpdatedDt, new { id = "updatedDt", @Value = fechaActual })

        <br />
        <center><h1>Conceptos para Empleados</h1></center>
        <div class="tabla-consultas-empleados">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Nombre:</label>
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @type = "text", id = "nombre", required = "required" })
                    </div>
                    <div class="col-lg-3">
                        <label>Descripcion:</label>
                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", @type = "text", id = "descripcion", required = "required" })
                    </div>
                    <div class="col-lg-3">
                        <label>Valor:</label>
                        @Html.TextBoxFor(x => x.Valor, new { @class = "form-control", @type = "text", id = "valor" })
                    </div>
                    <div class="col-lg-3">
                        <label>Aumento de Salario:</label>
                        @Html.CheckBoxFor(x => x.Aumento, new { @class = "form-control", id = "aumentoCheckbox" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-between">
                    <div>
                        <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-success btn-lg-custom" />
                    </div>
                    <a href="/RH/ConceptosRH" class="btn btn-custom-cancel btn-lg-custom">Cancelar</a>
                </div>
            </div>
        </div>
    }
    <br />
    <br />
    <table id="tblConceptosRH" class="table table-bordered table-striped" style="width: 100%;"></table>
</div>
<script src="@(Url.StaticFile("Scripts/Trabajador/ConceptosRH.js"))"></script>

<script>
    $(document).ready(function () {
        $('#valor').on('input', function () {
            // Permitir números y un punto decimal
            let input = $(this).val();

            // Remover todo excepto números y un punto decimal
            let value = input.replace(/[^0-9.]/g, '');

            // Permitir solo un punto decimal
            let parts = value.split('.');
            if (parts.length > 2) {
                value = parts[0] + '.' + parts.slice(1).join('');
            }

            // Limitar a 2 decimales
            if (parts.length > 1 && parts[1].length > 2) {
                value = parts[0] + '.' + parts[1].substring(0, 2);
            }

            $(this).val(value);

            // Formatear como moneda cuando pierde el foco
        }).on('blur', function () {
            let value = $(this).val();
            if (value && value.trim() !== '') {
                // Convertir a número y formatear
                let num = parseFloat(value);
                if (!isNaN(num)) {
                    let formatted = '$ ' + num.toLocaleString('es-MX', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    $(this).val(formatted);
                }
            }
        }).on('focus', function () {
            // Al enfocar, quitar el formato para editar
            let value = $(this).val().replace(/[^0-9.]/g, '');
            $(this).val(value);
        });

        // Para enviar al servidor
        $('form').on('submit', function () {
            let rawValue = $('#valor').val().replace(/[^0-9.]/g, '');
            if (rawValue) {
                let num = parseFloat(rawValue);
                if (!isNaN(num)) {
                    $('#valor').val(num.toFixed(2));
                }
            }
        });
    });
</script>