@{
    ViewBag.Title = "Mina San Miguel";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewBag.Title</title>

    <link rel="icon" href="@Url.Content("~/img/Logo.ico")" type="image/x-icon" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/bootstrap.css")" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <!-- responsive style -->
    <!-- Inicio a los llamados de js -->
    <script src="@Url.Content("~/Assets/script.js")"></script>
    <script src="@Url.Content("~/Assets/Administracion/js/script.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Assets/js/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/Assets/SweetAlert/sweetalert2.all.min.js")"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @*<script type="text/javascript" src="@Url.Content("~/Assets/js/bootstrap.js")"></script>*@
    <!-- Fin a los llamados de js -->
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/bootstrap.css")" />*@
    <link href="@Url.Content("~/Assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/estiloClientes.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Assets/css/estiloventas.css")" rel="stylesheet" />

    <script type="text/javascript" href="@Url.Content("~/Assets/js/script.js")"></script>
    <script type="text/javascript" href="@Url.Content("~/Assets/js/jquery-3.4.1.min.js")"></script>
    @*<script type="text/javascript" href="@Url.Content("~/Assets/js/bootstrap.js")"></script>*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="~/Scripts/Comun/Comun.js"></script>
    @*<link href="https://cdn.datatables.net/v/dt/dt-2.1.5/datatables.min.css" rel="stylesheet">*@
    <link href="@Url.Content("~/Assets/css/all.min.css")" rel="stylesheet">
    @*<script src="https://cdn.datatables.net/v/dt/dt-2.1.5/datatables.min.js"></script>*@

    <link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>


</head>
<link rel="icon" href="@Url.Content("~/Assets/img/Logo.ico")" type="image/x-icon" />


<style>
    .main_title_html {
        background-color: white;
        font-family: Helvetica Neue;
        font-size: 30px;
        color: black;
        width: 70%;
        padding: 5px;
        border: 20px;
        border-radius: 100px;
        border: 3px solid black;
    }


    .tabla-clientes {
        background-color: #e6e1cd;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }


    .panel-body {
        background-color: #e6e1cd;
    }

    body {
        background-color: #83988e;
    }
</style>
<style>
    /* Estilos generales */
    .slider_section {
        background: linear-gradient(rgba(2, 2, 2, 0.2), rgba(0, 0, 0, 0.2)), url("@Url.Content("~/Assets/img/minas.png")") fixed center center;
        background-size: cover;
        padding: 60px 0;
    }

    .slider_section .row {
        align-items: center;
    }

    .slider_section .detail-box h1 {
        font-weight: bold;
        font-size: 5rem;
        color: white;
    }

    .slider_section .detail-box h1 span {
        color: #386dbd;
    }

    .slider_section .detail-box p {
        color: black;
        text-align: justify;
        font-size: 24px;
    }

    .contacto-ciat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-family: Arial, sans-serif;
        border: none;
        margin: auto;
        background-color: #002c53;
    }

    .contacto-ciat .contacto, .contacto-ciat .contacto2 {
        display: flex;
        flex-direction: column;
    }

    .contacto-ciat .consulta {
        text-align: center;
        flex: 1;
        padding: 0 20px;
        color: white;
        font-family: CentraNube, system-ui, BlinkMacSystemFont, Helvetica Neue, arial, sans-serif;
    }

    .puesto {
        font-weight: bold;
        color: white;
        font-family: Helvetica Neue;
    }

    .nombre {
        font-weight: normal;
        color: white;
        font-family: CentraNube, system-ui, BlinkMacSystemFont, Helvetica Neue, arial, sans-serif;
    }

    .telefono {
        font-size: 14px;
        color: white;
        font-family: CentraNube, system-ui, BlinkMacSystemFont, Helvetica Neue, arial, sans-serif;
    }

    /* Estilo específico para el div.content */
    .content {
        background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco con 50% de opacidad */
    }

    .main_title_html {
        background-color: white;
        font-family: Helvetica Neue;
        font-size: 30px;
        color: black;
        width: 50%;
        padding: 5px;
        border: 20px;
        border-radius: 100px;
        border: 3px solid black;
        position: relative;
        top: 0;
        left: 20%;
        transform: translateX(-40%);
    }

    .tabla-clientes {
        background-color: #e6e1cd;
    }

    .panel-body {
        background-color: #e6e1cd;
    }

    body {
        background-color: #83988e;
    }

    /* Estilos para el formulario y botones */
    .form-inline {
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
    }

    .form-control {
        border: 1px solid #ced4da;
        border-radius: 4px;
        padding: .375rem .75rem;
        color: black;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        color: #212529;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .btn-primary {
        color: black;
        background-color: #007bff;
        border-color: #007bff;
    }

    /* Estilos para la tabla */
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        color: black;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: black;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    /* Botones dentro de la tabla */
    table button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        color: black;
    }

    table button:hover {
        opacity: 0.8;
        color: black;
    }

    .aprobar {
        background-color: #28a745;
        color: black;
    }

    .denegar {
        background-color: #dc3545;
        color: black;
    }

    /* Estilos para formularios modales y otros elementos interactivos */
    .formularioComprobante {
        display: none;
        margin-top: 10px;
        color: black;
    }

    input[type="file"] {
        margin-top: 10px;
        color: black;
    }

    center h1 {
        background-color: white;
        font-family: Helvetica Neue;
        font-size: 30px;
        color: black;
        width: 70%;
        padding: 5px;
        border: 20px;
        border-radius: 100px;
        border: 3px solid black;
    }
</style>

<body>

    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Assets/img/logow.png")" style="height: 50px; width: 150px" />
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" data-title="Index" href="@Url.Action("Index", "Home")">Inicio </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administración
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Clientes" href="@Url.Action("Clientes", "Administracion")">Clientes</a>
                                    <a class="dropdown-item" data-title="Solicitudes" href="@Url.Action("Solicitudes", "Administracion")">Solicitudes</a>
                                    <a class="dropdown-item" data-title="Precios" href="@Url.Action("Precios", "Administracion")">Precios</a>
                                    <a class="dropdown-item" data-title="Gestion_Img" href="@Url.Action("Gestion_Img", "Administracion")">Imágenes de precios</a>
                                    <a class="dropdown-item" data-title="Ingresos" href="@Url.Action("Ingresos", "Administracion")">Ingresos y egresos</a>
                                    <a class="dropdown-item" data-title="General" href="@Url.Action("General", "Administracion")">General</a>
                                    <a class="dropdown-item" data-title="General" href="@Url.Action("Internos", "Viajes")">Viajes internos</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("locales", "Viajes")">Viajes Locales</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Empleados
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Empleados" href="@Url.Action("AltaEdicion", "Empleado")">Empleados</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Almacén
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Inventario" href="@Url.Action("Inventario", "Almacen")">Inventario</a>
                                    <a class="dropdown-item" data-title="SolicitudesProcesadas" href="@Url.Action("SolicitudesProcesadas", "Almacen")">Solicitudes procesadas</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    R.H.
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Agregar" href="@Url.Action("Agregar", "RH")">Agregar</a>
                                    <a class="dropdown-item" data-title="Editar" href="@Url.Action("Editar", "RH")">Editar</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Venta
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Material" href="@Url.Action("Material", "Venta")">Material</a>
                                    <a class="dropdown-item" data-title="Salidas" href="@Url.Action("Salidas", "Venta")">Salidas</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Taller
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Vehiculos" href="@Url.Action("Vehiculos", "Taller")">Vehículos</a>
                                    <a class="dropdown-item" data-title="InventarioTaller" href="@Url.Action("Inventario_Taller", "Taller")">Inventario del taller</a>
                                    <a class="dropdown-item" data-title="ReportesStock" href="@Url.Action("ReportesCStock", "Taller")">Reportes con stock</a>
                                    <a class="dropdown-item" data-title="ReportesSinStock" href="@Url.Action("Reportes_SStock", "Taller")">Reportes sin stock</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Catálogos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("UnidadMedida", "Catalog")">Unidades De Medida</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("TipoVehiculo", "Catalog")">Tipo de Vehículo</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("AreaTrabajo", "Catalog")">Área de trabajo</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("Roll", "Catalog")">Roles</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("Ubicacion", "Catalog")">Ubicación</a>
                                    <a class="dropdown-item" data-title="Catálogos" href="@Url.Action("TipoMaterialUbicacion", "Catalog")">Tipo de Material</a>
                                    @*aquí copias y pegas el de arriba, solo le cambias el nombre u el método*@
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-title="Autentication" href="@Url.Action("Autenticacion", "Home")">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="slider_section position-relative">
        <div class="row">
            <div class="col-lg-12">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="modal fade" id="genericModal" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content" style=" width: 900px;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="titleGenerciModal"></h4>
                            </div>
                            <div class="modal-body" id="boddyGeericModal">
                                <p>Some text in the modal.</p>
                            </div>
                            @*<div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contacto-ciat">
        <div class="contacto">
            <div class="puesto">Director General de CIATSoftware.</div>
            <div class="nombre"><img src="@Url.Content("~/Assets/img/usuario.png")" alt="Teléfono" width="20" height="20">Juan Carlos Tinoco Herrera</div>
            <div class="telefono"><img src="@Url.Content("~/Assets/img/tel-icono.png")" alt="Teléfono" width="20" height="20">Tel: +52 782 132 9772</div>
        </div>
        <div class="consulta">
            <p>En caso de consultas sobre el funcionamiento del sistema, por favor contactar a CIATSoftware mediante los siguientes medios:</p>
        </div>
        <div class="contacto2">
            <div class="puesto">Directora de Innovación Tecnológica.</div>
            <div class="nombre"><img src="@Url.Content("~/Assets/img/usuario.png")" alt="Teléfono" width="20" height="20">Cesia Santiago Trejo</div>
            <div class="telefono"><img src="@Url.Content("~/Assets/img/tel-icono.png")" alt="Teléfono" width="20" height="20">Tel: +52 228 182 7906</div>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
            <span class="text-muted">© 2024 Desarrollado por CIATSoftware</span>
        </div>
    </footer>


</body>

</html>
