@{
    ViewBag.Title = "Area de Trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var areat = (MinaTolEntidades.DtoCatalogos.DtoAreaTrabajo)Model;
}

<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Catalogos/AreaTrabajo.js"></script>
<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-cancel {
        background-color: red; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-clean {
        background-color: dodgerblue; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<div class="content">

    <form id="frmareaTrabajo" name="frmareaTrabajo" method="post" enctype="multipart/form-data">
        <br>
        <center><h1>Area de Trabajo</h1></center>
        <div class="tabla-consultas-areadetrabajo">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID area trabajo:</label>
                        <input type="text" id="txtidareatrabajo" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre:</label>
                        <input type="text" id="txtNombre" class="form-control" />
                    </div>
                    <div class=" col-lg-3">
                        <label>Descripcion:</label>
                        <textarea type="text" id="txtDescripcion" class="form-control"></textarea>
                    </div>
                    <div class=" col-lg-3">
                        <label>Estatus:</label>
                        <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input href="/Catalog/AreaTrabajo" type="button" value="Guardar" onclick="SaveOrUpdateAreaTrabajo()" class="btn btn-success" />
                        <a href="/Catalog/AreaTrabajo" class="btn btn-custom-cancel">Cancelar</a>

                    </div>
                </div>
                <input type="hidden" id="txtCreatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtCreatedDt" value="@DateTime.Now" />
                <input type="hidden" id="txtUpdatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtUpdatedDt" value="@DateTime.Now" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="tableareaTrabajo" style="width: 100%;"></table>
            </div>
        </div>
    </form>
</div>
<script>
    var areatJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(areat))');
</script>