@{
    ViewBag.Title = "Roll";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var roll = (MinaTolEntidades.DtoCatalogos.DtoRoll)Model;
}

<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Catalogos/AltaRoll.js"></script>
<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-cancel {
        background-color: red; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-clean {
        background-color: dodgerblue; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<form id="frmroll" name="frmroll" method="post" enctype="multipart/form-data">
    <div class="content">
        <br>
        <center><h1>Roles</h1></center>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Rol:</label>
                        <input type="text" id="txtidroll" name="idroll" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre del Rol:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Descripción:</label>
                        <textarea type="text" id="txtDescripcion" name="Descripcion" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-6">
                            <label>Estatus:</label>
                            <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input href="/Catalog/Roll" type="button" value="Guardar" onclick="SaveOrUpdateRoll()" class="btn btn-success" />
                        <a href="/Catalog/Roll" class="btn btn-custom-cancel">Cancelar</a>

                    </div>
                </div>

                <input type="hidden" id="txtCreatedBy" name="CreatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
                <input type="hidden" id="txtUpdatedBy" name="UpdatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtUpdatedDt" name="UpdatedDt" value="@DateTime.Now" />
            </div>
        </div>

        <br />

        <table id="tblRoll" class="table table-bordered table-striped" style="width: 100%;"></table>

    </div>

</form>
<script>
    var rollJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(roll))');
</script>