@model IEnumerable<MinaTolEntidades.DtoClientes.TipoVehiculo>
@{
    ViewBag.Title = "TipoVehiculo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="~/Scripts/Catalogos/AltaTipoVehiculo.js"></script>
<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.1); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<form id="frmtipovehiculo" name="frmtipovehiculo" method="post" enctype="multipart/form-data">
    <div class="content">
        <br>
        <center><h1>Tipo de vehiculo</h1></center>
        <div class="tabla-consultas-tipovehiculo">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Tipo Vehiculo:</label>
                        <input type="text" id="txtidtipovehiculo" name="idtipovehiculo" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre del Vehiculo:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Descripcion:</label>
                        <input type="text" id="txtDescripcion" name="Descripcion" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Estatus:</label>
                        <div class="form-check">
                            <input type="checkbox" id="chkEstatus" name="Estatus" value="Activo" class="form-check-input" /><
                            <label class="form-check-label" for="chkEstatus"> Activo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="button" value="Guardar" onclick="SaveOrUpdateTipoVehiculo()" class="btn btn-success" />
                        <input type="button" value="Cancelar" class="btn btn-custom-cancel" />
                    </div>
                </div>

                <input type="hidden" id="txtCreatedBy" name="CreatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
                <input type="hidden" id="txtUpdatedBy" name="UpdatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtUpdatedDt" name="UpdatedDt" value="@DateTime.Now" />
            </div>
        </div>


        <br />

        <table id="tblTipoVehiculo" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vehiculo</th>
                    <th>Descripcion</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Los datos se cargarán aquí por DataTables -->
            </tbody>
        </table>

    </div>

</form>

<script>
    $(document).ready(function () {
        $('#tblTipoVehiculo').DataTable();
    });
</script>