@{
    var unidadmedida = (List<MinaTolEntidades.DtoSucursales.UnidadMedida>)ViewBag.UnidadDeMedida;
    var ubicaciones = (List<MinaTolEntidades.DtoCatalogos.DtoUbicacion>)ViewBag.Ubicaciones;
    var tipoMaterial = (MinaTolEntidades.DtoCatalogos.DtoTipoMaterialUbicacion)Model;

    ViewBag.Title = "TipoMaterialUbicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var estatus = new List<string> { "Activo", "Inactivo" };
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<link href="~/Assets/css/dataTables.dataTables.min.css" rel="stylesheet" />
<script src="~/Assets/js/dataTables.min.js"></script>
<script src="@(Url.StaticFile("Scripts/Catalogos/TipoMaterialUbicacion.js"))"></script>
<style>
    .btn-success {
        background-color: #28a745; /* Verde para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-success:hover {
            background-color: #218838; /* Color verde más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-cancel {
        background-color: #FF5733; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-cancel:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-delete {
        background-color: #C70039; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-delete:hover {
            background-color: darkred; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }

    .btn-custom-clean {
        background-color: dodgerblue; /*  para el botón Guardar */
        color: white;
        border: none;
        transition: all 0.3s ease; /* Transición suave para el cambio de tamaño y color */
    }

        .btn-custom-clean:hover {
            background-color: deepskyblue; /* Color  más oscuro al pasar el ratón */
            transform: scale(1.3); /* Aumenta el tamaño del botón */
            color: white; /* Color de texto blanco */
        }
</style>

<div class="content">

    <form id="frmTipoMaterialUbicacion" name="frmTipoMaterialUbicacion" method="post" enctype="multipart/form-data">
        <br>
        <center><h1>Tipo de Material</h1></center>
        <div class="tabla-consultas-tipoMaterial">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Material:</label>
                        <input type="text" id="txtidtipomaterial" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre:</label>
                        <input type="text" id="txtNombreTipoMaterial" class="form-control" />
                    </div>
                    <div class=" col-lg-3">
                        <label>Descripción:</label>
                        <textarea type="text" id="txtDescripcionTipoMaterial" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-3">
                        <label>Ubicaciones:</label>
                        <select id="ddlUbicacion" name="ddlUbicacion" class="form-control">
                            @foreach (var i in ubicaciones)
                            {
                                <option value="@i.Id">@i.NombreUbicacion</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-3">
                        <label>Unidad de medida:</label>
                        <select id="ddlUnidadDeMedida" name="ddlUnidadDeMedida" class="form-control">
                            @foreach (var unidad in unidadmedida)
                            {
                                <option value="@unidad.Id">@unidad.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class=" col-lg-3">
                        <label>Estatus:</label>
                        <input type="checkbox" name="chbEstatus" id="chbEstatus" value="" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-12 d-flex justify-content-between">
                        <div>
                            <input id="btnGuardaru" href="/Catalog/TipoMaterialUbicacion" type="button" value="Guardar" onclick="SaveOrUpdateTipoMaterialUbicacion()" class="btn btn-success" />
                            <input id="btnEliminaru" href="/Catalog/TipoMaterialUbicacion" type="button" value="Eliminar" class="btn btn-custom-delete" onclick="EliminarTipoMaterial()" />
                        </div>
                        <a href="/Catalog/TipoMaterialUbicacion" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>
                <input type="hidden" id="txtCreatedBy" name="CreatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
                <input type="hidden" id="txtUpdatedBy" name="UpdatedBy" value="@User.Identity.Name" />
                <input type="hidden" id="txtUpdatedDt" name="UpdatedDt" value="@DateTime.Now" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-bordered table-striped" id="tableTipodematerial" style="width: 100%;"></table>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#frmTipoMaterialUbicacion").validate({
            rules: {
                "Nombre": "required",
                "Descripcion": "required",
                "UnidadDeMedida": "required",
                "Ubicacion": "required"
            },
            messages: {
                "Nombre": "Campo Obligatorio",
                "Descripcion": "Campo Obligatorio",
                "UnidadDeMedida": "Campo Obligatorio",
                "Ubicacion": "Campo Obligatorio"

            }
        });

    });

     var tipoMaterialUbicacionJson = JSON.parse('@Html.Raw((Newtonsoft.Json.JsonConvert.SerializeObject(tipoMaterial)))');
</script>
