@model MinaTolEntidades.DtoVentaPublicoGeneral.PV_CajaChica
@{
    ViewBag.Title = "PV_CajaChica";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formasPago = (List<string>)ViewBag.FormasPago;

}
<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdatePV_CajaChica", "VentaPublicoGeneral", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmPrecioMaterial", @id = "frmPV_CajaChica" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.UpdatedBy)
    @Html.HiddenFor(x => x.UpdatedDt)

    <div class="content">
        <br>
        <center><h1>CajaChica</h1></center>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Precio:</label>
                        <input type="text" id="txtidprecio" name="idprecio" class="form-control" disabled />
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Guardar" onclick="confirmarGuardar()()" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/PV_CajaChica" class="btn btn-custom-cancel">Cancelar</a>
                    </div>

                </div>
            </div>
        </div>
        <br />
        <table id="tblPV_CajaChica" class="table table-bordered table-striped" style="width: 100%;"></table>
    </div>
}

<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Precios.js"))"></script>

