@model MinaTolEntidades.DtoVentas.PV_Ventas
@{
    ViewBag.Title = "Venta Publico en General";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var formasPago = ViewBag.FormasPago;
    var usuarioToken = (MinaTolEntidades.Security.TokenCookie)ViewBag.UserToken;
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<!-- En el head de tu HTML -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<div class="content">
    @using (Html.BeginForm("SaveOrUpdateVenta", "VentaPublicoGeneral", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmVentaCrud", @id = "frmVentaCrud" }))
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Estatus)
        @Html.HiddenFor(x => x.CreatedDt)
        @Html.HiddenFor(x => x.CreatedBy)
        @Html.HiddenFor(x => x.UpdatedBy)
        @Html.HiddenFor(x => x.UpdatedDt)
        @Html.HiddenFor(x => x.Folio)
        @Html.HiddenFor(x => x.Carga, new { @Value = 1})

        <br />
        <center><h1>Venta publico en general</h1></center>
        <div class="tabla-consultas-empleados">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Folio:</label>
                        @Html.TextBoxFor(x => x.Folio, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-lg-3">
                        <label>RFID:</label>
                        @Html.TextBoxFor(x => x.RFID, new { @class = "form-control", id = "rfid" })
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre Cliente:</label>
                        @Html.TextBoxFor(x => x.NombreCliente, new { @class = "form-control", id = "nombreCliente" })
                    </div>
                    <div class="col-lg-3">
                        <label>Descripción del transporte:</label>
                        @Html.HiddenFor(x => x.Transporte, new
                        {
                            @class = "form-control",
                            id = "descripcionVehiculo",
                            @readonly = "readonly"  /* Opcional: para que sea solo lectura */
                        })
                        <!-- Dropdown para seleccionar el vehículo -->
                        <select id="vehiculosDropdown" class="form-control">
                            <option value="">Seleccione un vehículo</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Placa:</label>
                        @Html.TextBoxFor(x => x.Placa, new { @class = "form-control", id = "placa", @readonly = "readonly" })
                    </div>
                    <div class="col-lg-3">
                        <label>Capacidad en M3:</label>
                        @Html.TextBoxFor(x => x.Cantidad, new
                   {
                       type = "number",
                       id = "cantidadRecibida",
                       @class = "form-control",
                       pattern = "[1-9][0-9]{0,9}",
                       title = "Ingrese un número positivo mayor a 0 (máximo 10 dígitos)",
                       placeholder = "1 - 9999999999",
                       onkeypress = "return (event.charCode >= 48 && event.charCode <= 57) && this.value.length < 10",
                       oninput = "if(this.value <= 0 || this.value == 0) this.value = 1; if(this.value.length > 10) this.value = this.value.slice(0,10); if(parseInt(this.value) > 9999999999) this.value = 9999999999; this.value = this.value.replace(/^0+/, '') || 1"
                   })
                    </div>

                    <div class="col-lg-3">
                        <label>Planta:</label>
                        @{
                            var ubicacionesList = ((IEnumerable<SelectListItem>)ViewBag.Ubicaciones).ToList();
                            ubicacionesList.Insert(0, new SelectListItem
                            {
                                Text = "Selecciona una opción",
                                Value = "",
                                Selected = true,
                                Disabled = true
                            });
                        }

                        @Html.DropDownListFor(x => x.Ubicacion.Id, ubicacionesList, new { @class = "form-control", @onchange = "CambioUbicacion(this)" })
                    </div>
                    <div class="col-lg-3">
                        <label>Material:</label>
                        @{
                            var materialesList = ((IEnumerable<SelectListItem>)ViewBag.Materiales).ToList();
                            materialesList.Insert(0, new SelectListItem
                            {
                                Text = "Selecciona una opción",
                                Value = "",
                                Selected = true,
                                Disabled = true
                            });
                        }

                        @Html.DropDownListFor(x => x.TipoMaterial.Id, materialesList, new { @class = "form-control", @onchange = "CambioMaterial(this)" })
                    </div>
                    @Html.DropDownListFor(x => x.UnidadMedida.Id, (IEnumerable<SelectListItem>)ViewBag.UnidadMedida, new { @class = "form-control d-none", @readonly = "readonly" })
                    <div class="col-lg-3">
                        <label>Forma de pago:</label>
                        <select id="formaPago" name="FormaDePago" class="form-control">
                            @foreach (var formaPago in ViewBag.FormasPago)
                            {
                                var splitFormaPago = formaPago.Split(':');
                                <option value="@splitFormaPago[0]">@splitFormaPago[1]</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Cantidad Recibida:</label>
                        @Html.TextBoxFor(x => x.CantidadRecibida, new
                        {
                            @class = "form-control",
                            id = "dineroRecibido",
                            type = "text",
                            pattern = "[1-9][0-9]{0,9}",
                            title = "Ingrese un número positivo mayor a 0 (máximo 10 dígitos)",
                            placeholder = "1 - 9999999999",
                            onkeypress = "return (event.charCode >= 48 && event.charCode <= 57) && this.value.length < 10",
                            oninput = "if(this.value <= 0 || this.value == 0) this.value = 1; if(this.value.length > 10) this.value = this.value.slice(0,10); if(parseInt(this.value) > 9999999999) this.value = 9999999999; this.value = this.value.replace(/^0+/, '') || 1"
                        })
                    </div>
                    <div class="col-lg-3">
                        <label>Vendedor:</label>
                        @Html.DropDownListFor(x => x.Usuario.Id, (IEnumerable<SelectListItem>)ViewBag.Usuarios, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <label>Fecha:</label>
                        <input class="form-control" type="text" id="fecha" readonly />
                        @Html.HiddenFor(x => x.Fecha, new { @class = "form-control", @Value = DateTime.Now })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ms-3 d-flex flex-row align-items-start justify-content-between flex-wrap">
                            <div class="me-4">
                                <h4>
                                    <label id="totalPagar" class="form-label fw-bold">Total a Pagar: $0.00</label><br>
                                    @Html.HiddenFor(x => x.TotalPago, new { @class = "form-control", id = "TotalPagoInput" })
                                    <label id="totalRecibido" class="form-label fw-bold">Dinero Recibido: $0.00</label><br>
                                    <label id="cambio" class="form-label fw-bold">Cambio: $0.00</label>
                                </h4>
                            </div>
                            <div class="col-md-4" style="margin-top: 5px;">
                                <label for="precioMaterial" class="form-label fw-bold">
                                    Precio por Unidad:
                                    $<input id="precioMaterial" name="PrecioUnitario" value="0" readonly
                                            style="background-color: white; color: black; border: none; outline: none; width: 60px;" />
                                    @Html.HiddenFor(x => x.PrecioUnidad, new { @class = "form-control", id = "PrecioUnidad" })
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-between">
                        <div>
                            <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-success btn-lg-custom" />
                        </div>
                        <a href="/VentaPublicoGeneral/Index" class="btn btn-custom-cancel btn-lg-custom">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="col-lg-13 d-flex justify-content-between mt-2">
        <div>
            <input id="btnPrepago" type="submit" value="Generar Prepago" class="btn btn-success btn-lg-custom"
                   onclick="AbrirModalPrepago()" />
        </div>
        <input type="button" value="Agregar Vehiculo Nuevo" id="btnAsociar" class="btn btn-custom-clean btn-lg-custom"
               onclick="AbrirModalVehiculoPublicoGeneral()" />
    </div>

    <div style="margin-top: 10px;" class="d-flex justify-content-end">
        <input type="button" value="Generar Gasto" id="btnAsociar" class="btn btn-custom-cancel btn-lg-custom"
               onclick="AbrirModalDeduccion(0)" />
    </div>

    <div style="text-align: left; margin-top: -15px">
        <input id="btnAsociar" type="submit" value="Canjear Vale" class="btn btn-success btn-lg-custom" onclick="AbrirModalCanjeo()" />
    </div>
</div>
<div class="content">
    <div class="rectangulos" style="width: 100%;">
        <center><h1>Historial de Ventas</h1></center>
        <a href="http://localhost:5000" class="btn btn-success btn-lg-custom">Configurar Impresora</a>
        <br />
        <br />
        <div class="row align-items-end">
            @* FILTRADO POR FECHA *@
            <div class="col-auto">
                <label for="fechaFiltro" class="form-label">Fecha:</label>
                <input type="date" id="fechaFiltro" name="fechaFiltro" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>

            <div class="col-auto">
                <input type="hidden" id="userName" name="userName" class="form-control" value="@ViewBag.UserToken.UserName" readonly />
                <input type="hidden" id="userId" name="userId" class="form-control" value="@ViewBag.UserToken.UserID" readonly />
            </div>

            <div class="col-auto">
                <input id="btnFiltrar" type="button" value="Buscar" class="btn btn-custom-clean" style="margin-top: -30px" />
                <a href="/VentaPublicoGeneral/Index" class="btn btn-custom-cancel" style="margin-top: -30px; margin-left: 10px">Cancelar</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-striped" id="tablePuntoVenta" style="width: 100%;"></table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        const fechaActual = new Date();
        const dia = String(fechaActual.getDate()).padStart(2, '0');
        const mes = String(fechaActual.getMonth() + 1).padStart(2, '0'); // Enero es 0
        const año = fechaActual.getFullYear();

        $('#fecha').val(`${dia}/${mes}/${año}`);
    });
</script>

<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Index.js"))"></script>