@model MinaTolEntidades.DtoVentas.PV_Ventas
@{
    ViewBag.Title = "Venta Publico en General";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var formasPago = (List<string>)ViewBag.FormasPago;
    var unidadesMedida = (List<MinaTolEntidades.DtoSucursales.UnidadMedida>)ViewBag.UnidadMedida;
    var usuarioToken = (MinaTolEntidades.Security.TokenCookie)ViewBag.UserToken;
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdateVenta", "VentaPublicoGeneral", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmVentaCrud", @id = "frmVentaCrud" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.UpdatedBy)
    @Html.HiddenFor(x => x.UpdatedDt)

    <div class="content">
        <br />
        <center><h1>Venta publico en general</h1></center>
        <div class="tabla-consultas-empleados">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>Folio:</label>
                        @Html.TextBoxFor(x => x.Folio, new { @class = "form-control", @disabled = "disabled" })
                    </div>
                    <div class="col-lg-3">
                        <label>Ubicación:</label>
                        @Html.DropDownListFor(x => x.Ubicacion.Id, (IEnumerable<SelectListItem>)ViewBag.Ubicaciones, new { @class = "form-control", @onchange = "ChangeCompany()" })
                    </div>
                    <div class="col-lg-3">
                        <label>Material:</label>
                        @Html.DropDownListFor(x => x.TipoMaterial.Id, (IEnumerable<SelectListItem>)ViewBag.Materiales, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <label>Forma de pago:</label>
                        <select class="form-control">
                            @foreach (var formaPago in formasPago)
                            {
                                var splitFormaPago = formaPago.Split(':');
                                <option value="@splitFormaPago[0]">@splitFormaPago[1]</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Descripción del transporte:</label>
                        @Html.TextBoxFor(x => x.Transporte, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <label>Placa:</label>
                        @Html.TextBoxFor(x => x.Placa, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-3">
                        <label>Cantidad:</label>
                        @Html.TextBoxFor(x => x.Cantidad, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Unidad de Medida:</label>
                        <select class="form-control">
                            @foreach (var unidadMedida in unidadesMedida)
                            {
                                <option value="@unidadMedida.Id">@unidadMedida.Nombre</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Usuario:</label>
                        <select id="ddlUsuario" class="form-control">
                            <option value="@usuarioToken.UserID">@usuarioToken.UserName</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Fecha:</label>

                        @Html.TextBoxFor(x => x.Fecha, new { @class = "form-control", @disabled = "", @Value = DateTime.Today.ToString("yyyy-MM-dd") })
                    </div>
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-between">
                        <!-- Contenedor para los botones de la izquierda -->
                        <div>
                            <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-success" />
                            @*<input id="btnEliminar" href="/Viajes/Locales" type="button" value="Eliminar" class="btn btn-custom-delete" onclick="EliminarViajeLocal()" />*@
                        </div>
                        <!-- Botón cancelar a la derecha -->
                        <a href="/VentaPublicoGeneral/Index" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Index.js"))"></script>
