@model MinaTolEntidades.DtoClientes.DtoClientesVehiculoPublicoGral
@{
    ViewBag.Title = "PartialVehiculoClientesPublicoGeneral";

    var clientes = (List<MinaTolEntidades.DtoVentaPublicoGeneral.ClientePublicoGral>)ViewBag.Clientes;
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdateVehiculosPublicoGral", "Catalog", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmVehiculoPublicoGral", @id = "frmVehiculoPublicoGral" }))
{
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
    @Html.HiddenFor(x => x.CreatedBy, new { id = "createdBy" })
    @Html.HiddenFor(x => x.UpdatedBy, new { id = "updatedBy" })
    @Html.HiddenFor(x => x.UpdatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })

    <div class="content">
        <br>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <h2>Agregar Vehiculo a Clientes Publico General</h2>
                <div class="row">
                    <div class="col-lg-4">
                        @Html.HiddenFor(x => x.Id, new { @class = "form-control", @min = "0", @readonly = "readonly", @Id = "id" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Nombre:</label>
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @Id = "nombre" })
                    </div>
                    <div class="col-lg-4">
                        <label>Capacidad en M3:</label>
                        @Html.TextBoxFor(x => x.Capacidad, new { @class = "form-control", @id = "capacidad", @oninput = "this.value = this.value.replace(/[^0-9]/g, '')" })
                    </div>
                    <div class="col-lg-4">
                        <label>Cliente:</label>
                        @Html.DropDownListFor(x => x.ClienteID,
                            new SelectList(clientes, "Id", "Nombre", Model.ClienteID),
                            "Seleccione un cliente",
                            new { @class = "form-control", @id = "ddlClientes" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Color:</label>
                        @Html.TextBoxFor(x => x.Color, new { @class = "form-control", @Id = "color" })
                    </div>
                    <div class="col-lg-4">
                        <label>Placa:</label>
                        @Html.TextBoxFor(x => x.Placa, new { @class = "form-control", @Id = "placa" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="btnGuardaru" type="button" value="Guardar" onclick="SaveOrUpdateVehiculosPublicoGralPartialView()" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/Index" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Antes de cargar el archivo .js -->
<script type="text/javascript">
    var VehiculoPubligoGralJson = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
</script>

<script>
    function SaveOrUpdateVehiculosPublicoGralPartialView() {
        if ($("#frmVehiculoPublicoGral").valid()) {
            var parametro = {
                Id: $("#id").val(),
                nombre: $("#nombre").val(),
                capacidad: $("#capacidad").val(),
                ClienteID: { Id: $("#ddlClientes").val() },
                color: $("#color").val(),
                placa: $("#placa").val(),
                Estatus: 1,
                CreatedBy: $("#createdBy").val(),
                CreatedDt: $("#CreatedDt").val(),
                UpdatedBy: $("#updatedBy").val(),
                UpdatedDt: $("#UpdatedDt").val()
            };

            var isUpdating = parametro.Id && parametro.Id != 0;
            Swal.fire({
                title: isUpdating ? '¿Desea actualizar el registro?' : '¿Desea guardar el nuevo registro?',
                html: `<strong>Id:</strong> ${parametro.Id}<br/>
                   <strong>Nombre:</strong> ${parametro.nombre}<br/> 
                   <strong>Capacidad:</strong> ${parametro.capacidad}<br/> 
                   <strong>Cliente:</strong> ${parametro.ClienteID.Id}<br/> 
                   <strong>Color:</strong> ${parametro.color}<br/>
                   <strong>Placa:</strong> ${parametro.placa}<br/>`,
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: isUpdating ? 'Actualizar' : 'Guardar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    PostMVC("/Catalog/SaveOrUpdateVehiculosPublicoGral", parametro, function (success, response) {
                        if (success) {
                            Swal.fire('Éxito', isUpdating ? 'Datos actualizados exitosamente.' : 'Datos guardados exitosamente.', 'success')
                                .then(() => window.location.href = '/VentaPublicoGeneral/Index');
                        } else {
                            Swal.fire('Error', 'Error al guardar los datos: ' + response.ErrorMessage, 'error');
                        }
                    });
                }
            });
        } else {
            Swal.fire('Advertencia', 'Por favor, complete todos los campos obligatorios.', 'warning');
        }
    }
</script>
