@model MinaTolEntidades.DtoVentaPublicoGeneral.PV_Precio
@{
    ViewBag.Title = "PV_Precios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formasPago = (List<string>)ViewBag.FormasPago;

}
<link href="@Url.Content("~/Assets/css/EstilosBtnCambios/EstiloBtn.css")" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdatePrecioMaterial", "VentaPublicoGeneral", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmPrecioMaterial", @id = "frmPrecioMaterial" }))
{
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt)
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.UpdatedBy)
    @Html.HiddenFor(x => x.UpdatedDt)

    <div class="content">
        <br>
        <center><h1>Precios</h1></center>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-4">
                        <label>ID Precio:</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @min = "0", @readonly = "readonly", @Id = "id" })
                    </div>
                    <div class="col-lg-4">
                        <label>Ubicación:</label>
                        @Html.DropDownList("ddlUbicacion", (IEnumerable<SelectListItem>)ViewBag.Ubicaciones, new { @class = "form-control", @onchange = "CambioUbicacion()" })
                    </div>
                    <div class="col-lg-4" id="divMaterial">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label for="txtPrecioActivo">Precio Menudeo:</label>
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(x => x.PrecioMenudeo, new { @class = "form-control", @id = "precioMenudeo", @type = "text", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label>Cantidad Minima para Precio Menudeo:</label>
                        @Html.TextBoxFor(x => x.Cantidad, new { @class = "form-control", @type = "number", @min = "0", required = "required" })
                    </div>
                    <div class="col-lg-4">
                        <label for="txtPrecioActivo">Precio Mayoreo:</label>
                        <div class="row">
                            <div class="col-lg-12">
                                @Html.TextBoxFor(x => x.PrecioMayoreo, new { @class = "form-control", @id = "precioMayoreo", @type = "text", required = "required" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="txtPrecioActivo">Es precio Activo:</label>
                        @Html.CheckBoxFor(x => x.EsPrecioActivo, new { @style = "width: 30px; height: 30px;"})
                    </div>
                    <div class="col-lg-10">
                        <label>Comentarios:</label>
                        @Html.TextBoxFor(x => x.Comentario, new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="btnGuardar" type="submit" value="Guardar" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/Precios" class="btn btn-custom-cancel">Cancelar</a>
                        <input type="button" value="Eliminar" id="btnEliminar" class="btn btn-custom-cancel" data-id="@(Model?.Id ?? 0)" onclick="EliminarPrecio(this)" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <table id="tblPrecios" class="table table-bordered table-striped" style="width: 100%;"></table>
    </div>
}

<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Precios.js"))"></script>

<script>
    $(document).ready(function () {
        // Seleccionar ambos inputs
        const $inputs = $('#precioMenudeo, #precioMayoreo');

        $inputs.on('input', function () {
            // Permitir números y un punto decimal
            let input = $(this).val();

            // Remover todo excepto números y un punto decimal
            let value = input.replace(/[^0-9.]/g, '');

            // Permitir solo un punto decimal
            let parts = value.split('.');
            if (parts.length > 2) {
                value = parts[0] + '.' + parts.slice(1).join('');
            }

            // Limitar a 2 decimales
            if (parts.length > 1 && parts[1].length > 2) {
                value = parts[0] + '.' + parts[1].substring(0, 2);
            }

            $(this).val(value);
        }).on('blur', function () {
            let value = $(this).val();
            if (value && value.trim() !== '') {
                // Convertir a número y formatear
                let num = parseFloat(value);
                if (!isNaN(num)) {
                    let formatted = '$ ' + num.toLocaleString('es-MX', {
                        minimumFractionDigits: 2,
                        maximumFractionDigits: 2
                    });
                    $(this).val(formatted);
                }
            }
        }).on('focus', function () {
            // Al enfocar, quitar el formato para editar
            let value = $(this).val().replace(/[^\d.]/g, '');
            // Eliminar el símbolo de dólar y espacios
            value = value.replace(/[^\d.]/g, '');
            $(this).val(value);
        });

        // Para enviar al servidor
        $('form').on('submit', function (e) {
            // Prevenir envío si quieres ver los valores en consola primero
            // e.preventDefault();

            $inputs.each(function () {
                let $input = $(this);
                let rawValue = $input.val().replace(/[^\d.]/g, '');
                if (rawValue) {
                    let num = parseFloat(rawValue);
                    if (!isNaN(num)) {
                        // Crear un input hidden o actualizar el valor
                        $input.val(num.toFixed(2));
                    }
                }
            });

            // Si necesitas guardar los valores sin formato para otro campo
            // puedes agregar inputs hidden:
            $inputs.each(function () {
                let $input = $(this);
                let rawValue = $input.val().replace(/[^\d.]/g, '');
                let id = $input.attr('id');

                // Crear o actualizar input hidden
                let $hidden = $('#' + id + '_raw');
                if ($hidden.length === 0) {
                    $hidden = $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', id + '_raw')
                        .attr('id', id + '_raw');
                    $input.after($hidden);
                }
                $hidden.val(rawValue || '');
            });

            // Para debug: ver valores en consola
            console.log('Valores enviados:');
            $inputs.each(function () {
                console.log($(this).attr('id') + ': ' + $(this).val());
            });
        });
    });
</script>