@model MinaTolEntidades.DtoCatalogos.DtoCatalogoPrestamo
@{
    ViewBag.Title = "Prestamos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var trabajadores = (List<MinaTolEntidades.DtoEmpleados.Empleado>)ViewBag.Trabajadores;
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdatePrestamos", "VentaPublicoGeneral", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmPrestamos", @id = "frmPrestamos" }))
{
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
    @Html.HiddenFor(x => x.CreatedBy, new { id = "createdBy" })
    @Html.HiddenFor(x => x.UpdatedBy, new { id = "updatedBy" })
    @Html.HiddenFor(x => x.UpdatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })

    <div class="content">
        <br>
        <center><h1>Préstamos</h1></center>

        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-4">
                        <label>ID Préstamo:</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly", @id = "id" })
                    </div>
                </div>
                <div class="row">
                        @Html.HiddenFor(x => x.Nombre, new { @class = "form-control", @id = "nombre", @value = "Nombre" })
                        @Html.HiddenFor(x => x.NombreTrabajador, new { @class = "form-control", @id = "nombreTrabajador" })
                    <div class="col-lg-4">
                        <label>Trabajador:</label>
                        @Html.DropDownListFor(x => x.IdTrabajador,
                            new SelectList(trabajadores.Select(t => new
                            {
                                Id = t.Id,
                                NombreCompleto =  t.ApellidoPaterno + " " + t.ApellidoMaterno + " " + t.Nombre,
                                ApellidoPaterno = t.ApellidoPaterno
                            }).OrderBy(t => t.ApellidoPaterno), "Id", "NombreCompleto", Model.IdTrabajador),
                            "Seleccione un trabajador",
                            new { @class = "form-control", @id = "ddlTransportistas" })
                    </div>
                    <div class="col-lg-4">
                        <label>Descripción:</label>
                        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", @id = "descripcion" })
                    </div>
                    <div class="col-lg-4">
                        <label>Monto:</label>
                        @Html.TextBoxFor(x => x.Monto, new { @class = "form-control", @id = "monto" })
                    </div>
                    <div class="col-lg-4">
                        <label>Fecha:</label>
                        @Html.TextBoxFor(x => x.Fecha, new { @class = "form-control", @type = "date", @id = "fecha", @readonly = "readonly", @Value = DateTime.Now.ToString("yyyy-MM-dd") })
                    </div>
                    <div class="col-lg-4">
                        <label>Encargado:</label>
                        @Html.TextBoxFor(x => x.UsuarioName, new { @class = "form-control", @id = "encargado", @readonly = "readonly", @Value = ViewBag.UserToken.UserName })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="btnGuardaru" type="button" value="Guardar" onclick="SaveOrUpdatePrestamos()" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/Prestamos" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <table id="tblPrestamos" class="table table-bordered table-striped" style="width: 100%;"></table>
    </div>
}

<script type="text/javascript">
    var PrestamosJson = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
</script>

<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Prestamos.js"))"></script>
