@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Cliente = (MinaTolEntidades.DtoClientes.Cliente)Model;
    var materialesCliente = (IEnumerable<MinaTolEntidades.DtoClientes.ClienteTipoMaterial>)ViewBag.MaterialesCliente;
    var ubicacionCliente = (IEnumerable<MinaTolEntidades.DtoClientes.DireccionCliente>)ViewBag.UbicacionCliente;
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

<style>
    .btn-success {
        background-color: #28a745;
        color: white;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-success:hover {
        background-color: #218838;
        transform: scale(1.3);
        color: white;
    }

    .btn-info {
        background-color: dodgerblue;
        color: white;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-info:hover {
        background-color: #1a39ee;
        transform: scale(1.3);
        color: white;
    }

    .btn-custom-cancel {
        background-color: red;
        color: white;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-custom-cancel:hover {
        background-color: darkred;
        transform: scale(1.3);
        color: white;
    }

    .btn-custom-direccion {
        background-color: #f4f80a;
        color: white;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-custom-direccion:hover {
    background-color: #dfe21d;
    transform: scale(1.1);
    color: white;
    }

    .btn-custom-clean {
        background-color: dodgerblue;
        color: white;
        border: none;
        transition: all 0.3s ease;
    }

    .btn-custom-clean:hover {
    background-color: deepskyblue;
    transform: scale(1.3);
    color: white;
    }

    #contenedor {
        width: 800px;
        height: 700px;
        overflow-y: auto;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }
</style>

<div id="contenedorMaterial"></div>

<form id="frmCliente" name="frmCliente" method="post" enctype="multipart/form-data">
    <div class="content">
        <br>
        <center><h1>Clientes</h1></center>
        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-3">
                        <label>ID Cliente:</label>
                        <input type="text" id="txtIdCliente" name="IdCliente" class="form-control" disabled />
                    </div>
                    <div class="col-lg-3">
                        <label>Nombre/Empresa:</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Teléfono:</label>
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" />
                    </div>
                    <div class="col-lg-3">
                        <label>Email:</label>
                        <input type="email" id="txtEmail" name="txtEmail" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-lg-4">
                            <label>RFC:</label>
                            <input type="text" id="txtRFC" name="txtRFC" class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>Razon social:</label>
                            <input type="text" id="txtrazon" name="txtrazon" class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>Tipo de Cliente:</label>
                            <select id="ddlTipoCliente" name="ddlTipoCliente" class="form-control">
                                <option value="" disabled selected>Selecciona una opcion</option>
                                <!-- Las opciones se cargarán desde el ViewBag -->
                                @foreach (var item in ViewBag.TipoCliente)
                                {
                                    <option value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12">
                            <label>Comentarios:</label>
                            <textarea name="txtComentarios" id="txtComentarios" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3 table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped dataTable no-footer" id="tableTipodematerial"></table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br />
                        <input hidden id="txtCreatedBy" name="CreatedBy" value="@ViewBag.UserToken.UserName" />
                        <input hidden id="txtCreatedDt" name="CreatedDt" value="@DateTime.Now" />
                        <input hidden id="txtUpdatedBy" name="UpdatedBy" value="@ViewBag.UserToken.UserName" />
                        <input hidden id="txtUpdatedDt" name="UpdatedDt" value="@DateTime.Now" />
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="button" value="Guardar" onclick="SaveOrUpdateCliente()" class="btn btn-success" style="margin-right: 10px;" />
                            <a href="/Administracion/Clientes" class="btn btn-custom-cancel" style="margin-right: 10px;">Cancelar</a>
                            <input type="button" id="btndirecciones" value="Direcciones"
                                   onclick="AbrirModalDirecciones($('#txtIdCliente').val(), $('#txtNombre').val())"
                                   class="btn btn-info" style="display:none;" />
                            <input type="button" value="Configurar Precio de Combustible" onclick="AbrirModalPrecioCombustible()" class="btn btn-success" style="margin-right: 10px;" />
                        </div>
                    </div>
                </div>
                <br />
                <table id="tbCliente" class="table table-bordered table-striped" style="width: 100%;"></table>
            </div>
        </div>
    </div>
</form>

<script src="@(Url.StaticFile("Scripts/Catalogos/AltCliente.js"))"></script>

<script>
    var materialesClienteJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(materialesCliente))');
    var clienteJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Cliente))');
    var ubicacionClienteJson = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ubicacionCliente))');
</script>