@model MinaTolEntidades.Security.Usuario
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/EstilosBtnCambios/EstiloBtn.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

@using (Html.BeginForm("SaveOrUpdateUsuario", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data", @name = "frmUsuario", @id = "frmUsuario" }))
{
    @Html.HiddenFor(x => x.Estatus)
    @Html.HiddenFor(x => x.CreatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
    @Html.HiddenFor(x => x.CreatedBy, new { @Value = ViewBag.UserToken.UserName, id = "createdBy" })
    @Html.HiddenFor(x => x.UpdatedBy, new { @Value = ViewBag.UserToken.UserName, id = "updatedBy" })
    @Html.HiddenFor(x => x.UpdatedDt, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })

    <div class="content">
        <br>
        <center><h1>Préstamos</h1></center>

        <div class="tabla-consultas-roll">
            <div class="rectangulos" style="width: 100%;">
                <div class="row">
                    <div class="col-lg-4">
                        <label>ID Préstamo:</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @readonly = "readonly", @id = "id" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <label>Nombre:</label>
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @id = "nombre" })
                    </div>
                    <div class="col-lg-4">
                        <label>UserName:</label>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @id = "username" })
                    </div>
                    <div class="col-lg-4">
                        <label>Email:</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @id = "email" })
                    </div>
                    <div class="col-lg-4">
                        <label>Contraseña:</label>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @id = "password" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input id="btnGuardaru" type="button" value="Guardar" onclick="SaveOrUpdatePrestamos()" class="btn btn-success" />
                        <a href="/VentaPublicoGeneral/Prestamos" class="btn btn-custom-cancel">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <table id="tblUsuarios" class="table table-bordered table-striped" style="width: 100%;"></table>
    </div>
}

<script type="text/javascript">
    var UsuariosJson = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
</script>

<script src="@(Url.StaticFile("Scripts/VentaPublicoGeneral/Usuarios.js"))"></script>
